.form-label {
    font-size: 0.9rem;
}

.txt-title {
    font-size: 1.1rem;
}

.custom-text {
    font-size: 0.9rem;
    text-align: center;
}

.custom-logo {
    max-width: 80%;
    width: 240px;
    height:50px;
}

@media (max-width: 768px) {
    .bg-row {
        min-height: auto;
        background-size: 100% cover;
    }
    .card{
        border: none;
        box-shadow: none;
    }
}