.form-label {
    font-size: 0.9rem;
}

.txt-title {
    font-size: 1.1rem;
}

.custom-text {
    font-size: 0.9rem;
    text-align: center;
}

hr {
    color: grey
}

.custom-logo {
    max-width: 60%;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .bg-row {
        min-height: auto;
        background-size: 100% cover;

    }
}