<div class="row m-0  vh-100 d-flex justify-content-center align-items-center">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-3">
    <div class="card p-5">
      <div class="mb-4 p-2 text-center">
        <img src="/assets/logos/logo4.png" class="card-img-top mb-3 custom-logo" alt="logo">
        <h3 class="txt-title">Ingrese a su cuenta</h3>
      </div>
      <button class="btn px-2 py-2 mb-2 btn-google">
        <img src="/assets/logos/google.png" alt="Google Logo" class="google-logo">
        <span>Google</span>
      </button>
      <hr class="mb-3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input 
            formControlName="email" 
            name="email" 
            type="text" 
            class="form-control" 
            id="txtEmail" 
            appFormValidation
            [form]="loginForm" 
            [fieldName]="'email'" />
          <div class="invalid-feedback" appFormError [control]="loginForm.get('email')"></div>
        </div>
        <div class="mb-2">
          <label class="form-label">Contraseña</label>
          <input 
            formControlName="password" 
            name="password" 
            type="password" 
            class="form-control" 
            id="txtPassword"
            appFormValidation 
            [form]="loginForm" 
            [fieldName]="'password'" />
          <div class="invalid-feedback" appFormError [control]="loginForm.get('password')">
          </div>
        </div>
        <div class="mb-3">
          <a class="custom-text btn border-0 w-100" [routerLink]="['/auth/password-reset']">¿Olvidaste tu
            contraseña?</a>
        </div>
        <div class="mb-4">
          <button type="submit" class="btn btn-info text-light w-100">Continuar</button>
        </div>
      </form>
      <div class="mb-2">
        <a class="custom-text btn border-0 w-100">¿Ya tienes cuenta?</a>
      </div>
      <div>
        <button type="button" class="btn btn-dark w-100" [routerLink]="['/auth/signup']">Registrarse</button>
      </div>
    </div>
  </div>
</div>