<nav class="py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 d-flex">
        <a class="ms-5 me-3" href="#">
          <img src="../../../../assets//logos/micafe.png" alt="" width="180" height="50">
        </a>
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-start ms-4" *ngIf="isLoggedIn">
          <li class="nav-item">
            <button class="btn border-0">
              <i class="bi bi-house-fill"></i>
              <span class="mx-2">Inicio</span>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn border-0" [routerLink]="'/shopping'">
              <i class="bi bi-cup-hot"></i>
              <span class="mx-2">Tienda</span>
            </button>
          </li>
          <ng-template #noLoggedIn>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/auth/login'">
                <i class="bi bi-person-circle"></i>
                <span class="mx-3 txt-med">Ingreso</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end me-5">
          <li class="nav-item dropdown pe-4 me-2 border-end" *ngIf="isLoggedIn; else noLoggedIn">
            <a class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
              <span class="mx-2 txt-med">{{user?.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="btn dropdown-item" href="#"><i class="bi bi-person-fill"></i><span class="mx-2">Mi Cuenta</span></a></li>
              <li><a class="btn dropdown-item" href="#"><i class="bi bi-journal-text"></i><span class="mx-2">Mis Pedidos</span></a></li>
              <li><a class="btn dropdown-item" (click)="logOut()"><i class="bi bi-box-arrow-in-left"></i><span class="mx-2">Cerrar Sesión</span></a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <button class="btn boder-0 ps-2 ms-2" (click)="openCart()">
              <i class="bi bi-cart-fill"></i>
            </button>
          </li>
          <ng-template #noLoggedIn>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/auth/login'">
                <i class="bi bi-person-circle"></i>
                <span class="mx-3 txt-med">Ingreso</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>