<div class="row bg-row m-0 vh-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-3">
        <div class="card p-5">
            <div class="p-3 text-center">
                <img src="/assets/logos/logo4.png" class="card-img-top mb-4 custom-logo" alt="logo">
                <h3 class="txt-title">¿Olvidaste tu contraseña?</h3>
            </div>
            <form *ngIf="!showSuccessMessage" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input formControlName="email" name="email" type="text" class="form-control" id="txtUsuario"
                    appFormValidation [form]="resetForm" [fieldName]="'email'"  />
                    <div class="invalid-feedback" appFormError [control]="resetForm.get('email')">
                    </div>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-info text-light w-100">Restablecer contraseña</button>
                </div>
            </form>
            <div *ngIf="showSuccessMessage" class="alert alert-info mt-3">
                Hemos enviado un enlace para restablecer tu contraseña. Revisa tu bandeja de entrada.
              </div>
            <div>
                <a class="custom-text btn border-0 w-100" [routerLink]="['/']">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>