<div class="card p-3">
    <div class="row border-bottom pb-3">
        <div class="col-12">
            <span class="title">Resumen</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
            <span>Costo de los Productos</span> <span>{{total | currency}}</span>
        </div>
    </div>
    <div class="row mt-2" *ngIf="discount">
        <div class="col-12 d-flex justify-content-between">
            <span>Descuento {{discount.code}}</span> <span>{{- totalDiscount | currency}}</span>
        </div>
    </div>
    <div class="row mt-2 border-bottom" *ngIf="payWithPoints">
        <div class="col-12 d-flex justify-content-between">
            <span>Descuento por pago con puntos ({{points}} puntos )</span> <span>{{- total | currency}}</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-between">
            <span>Total a Pagar</span> <span>{{totalToPay | currency}}</span>
        </div>
    </div>
</div>
