<div class="row mb-3">
    <div class="col">
        <app-search (searchTextChanged)="onSearch($event)"></app-search>
    </div>
</div>
<div class="row">
        <div class="col-md-4" *ngFor="let order of filteredOrders">
            <div class="mb-3">
                <app-card-order [order]="order" (onConfirm)="changeStatus($event)"></app-card-order>
            </div>
        </div>
</div>
<div class="row">
    <div class="col">
        <ngb-pagination *ngIf="filteredOrders" [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChanged($event)">
        </ngb-pagination>

    </div>
</div>

