<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12">
            <div class="mb-4">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name" appFormValidation
                [form]="form" [fieldName]="'name'">
                <div class="invalid-feedback" appFormError [control]="form.get('name')"></div>
            </div>
            <div class="mb-5">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" formControlName="lastName" appFormValidation
                [form]="form" [fieldName]="'lastName'">
                <div class="invalid-feedback" appFormError [control]="form.get('lastName')"></div>
            </div>
            <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" [readonly]="true">
            </div>
            <div class="position-absoulte fixed-bottom px-4 mb-2">
                <button class="btn btn-info w-100 py-2">Guardar Cambios</button>
            </div>
        </div>
    </div>
</form>
