<div class="card p-3 h-100">
    <div class="row py-1 mb-4">
        <div class="col-12 d-flex justify-content-center">
            <span class="title-graphic">New Customers</span>
        </div>
    </div>
    <div class="row mb-4 px-3 d-flex justify-content-between align-items-center">
        <div class="col-md-6">
            <label class="form-label">Group By</label>
            <select name="year" id="" class="form-select" [(ngModel)]="groupBy" (change)="getInformation()">
                <option value="day">Day</option>
                <option value="month">Month</option>
            </select>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <button class="btn btn-secondary mt-4" (click)="randomize()">Update</button>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            <div style="display: block;">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [legend]="lineChartLegend" [type]="lineChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>