<div class="category-section card mb-2 mb-lg-0 p-2 py-lg-0 px-lg-5 border-0">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card-title">
                   Combos
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 scroll">
                <div class="row d-flex flex-nowrap overflow-auto">
                    <div class="col-12 col-sm-6 col-lg-4 me-2 m-md-0" *ngFor="let combo of combos">
                        <app-combo-card [combo]="combo"></app-combo-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
