<div class="row mt-2">
    <div class="col-lg-4">
        <h3 class="mb-md-0 mb-4">Discounts</h3>
    </div>
    <div class="col-lg-8 d-flex justify-content-start justify-content-md-end">
        <button class="btn btn-dark">+ Nuevo Descuento</button>
    </div>
</div>
<div class="row mt-5 d-flex align-items-center">
    <div class="col-sm-8 col-md-4 mb-3">
        <app-search (searchTextChanged)="onSearchTextChange($event)"></app-search>
    </div>
    <div class="col-sm-4 col-md-4 mb-3">
        <app-order-by [sorting]="sorting" (onSortBySelected)="sortList($event)"></app-order-by>
    </div>
    <div class=" col-md-2 offset-md-2">
        <app-filter [filterOptions]="filterStatusOptions" [title]="'Estado'" (filterSelected)="onStatusFilterSelected($event)"></app-filter>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <app-table [data]="filteredDiscounts" [headers]="headers" [pageSize]="5" (delete)="onDelete($event)"></app-table>
    </div>
</div>