<div class="img d-md-block"></div>
<app-navbar class="d-none d-md-block"></app-navbar>
<div class="container-fluid container-md">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="row mb-3 pt-3 pb-1 px-2">
                <div class="col-12">
                    <app-title-page [title]="'Confirmar Pedido'" [href]="'/shopping'"></app-title-page>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row mb-1 p-2">
                <div class="col-12">
                    <span *ngIf="pickUpDateTime !== undefined" class="p-3">Fecha y Horario de Entrega</span>
                    <app-pickup-time (onSelectDateTime)="setDateTime($event)"></app-pickup-time>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12">
                    <app-points-component *ngIf="customer?.points !== null" [orderPoints]="totalPoints"
                        [isAvailable]="availablePayPoints" [points]="customer?.points || 0"
                        (onPaidWithPoints)="payPoints($event)"></app-points-component>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12">
                    <app-payment-methods></app-payment-methods>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12">
                    <app-validate-discount (onValidate)="addDiscount($event)"
                        [enabled]="payWithPoints"></app-validate-discount>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row p-2">
                <div class="col-12">
                    <app-order-details [payWithPoints]="payWithPoints" [total]="total" [points]="totalPoints"
                        [discount]="discount"></app-order-details>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12">
                    <button class="btn btn-confirm w-100" (click)="createNewOrder()">Confirmar</button>
                </div>
                <div id="wallet_container"></div>
            </div>
        </div>
    </div>
</div>