<div [formGroup]="filtersForm">
<div class="row mb-3">
    <div class="col-12">
      <div class="form-check">
        <input (change)="onRadioChange('all')" class="form-check-input" type="radio" name="flexRadioDefault"
          checked>
        <label class="form-check-label" for="flexRadioDefault1">
          All
        </label>
      </div>
      <div class="form-check">
        <input (change)="onRadioChange('segment')" class="form-check-input" type="radio"
          name="flexRadioDefault">
        <label class="form-check-label" for="flexRadioDefault2">
          Specific customer segments
        </label>
      </div>
      <div *ngIf="segmentClientsSelected" class="mt-3">
        <div class="form-text text-primary">Select customer segment</div>
      </div>
    </div>
  </div>
    <div class="row" *ngIf="segmentClientsSelected">
      <div class="col-12">
        <div class="form-check">
          <input (change)="onRadioSegmentClientsChange('inactive')" class="form-check-input" type="radio"
            name="segment">
          <label class="form-check-label" for="flexRadioDefault1">
            Inactive Customers
          </label>
        </div>
        <div class="row mt-2 mb-3" *ngIf="inactiveClientsSelected">
          <div class="col-12">
            <input type="number" class="form-control" placeholder="Number of days from the last order" formControlName="numberDaysLastOrder">
          </div>
        </div>
        <div class="form-check">
          <input (change)="onRadioSegmentClientsChange('top')" class="form-check-input" type="radio"
            name="segment">
          <label class="form-check-label" for="flexRadioDefault2">
            Top customers
          </label>
        </div>
        <div class="row mt-2 mb-3" *ngIf="topClientsSelected">
          <div class="col-12">
            <label class="form-text text-primary">Time period</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="periodTime" value="month" formControlName="periodTime" >
              <label class="form-check-label">
                Monthly
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="periodTime" value="week" formControlName="periodTime">
              <label class="form-check-label">
                Weekly
              </label>
            </div>
          </div>
          <div class="col-12 mt-3">
            <input type="number" class="form-control" placeholder="Limit numer of users" formControlName="limit">
          </div>
        </div>
      </div>
    </div>
</div>
