<div class="img d-none d-md-block"></div>
<app-navbar class="d-none d-md-block"></app-navbar>
<div class="row  m-0 px-md-5 mt-md-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <app-title-page [title]="'Mis pedidos'" [href]="'/profile'"></app-title-page>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 px-4 py-2" *ngFor="let order of orders">
                <app-order [order]="order" (onQualificate)="getOrders()"></app-order>
            </div>
        </div>
    </div>
</div>
