<div class="table-responsive">
  <table class="table m-0 h-100">
    <thead>
      <tr>
        <th scope="col" *ngFor="let h of headers">{{h.header | titlecase}}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | slice: (page-1) * pageSize : page * pageSize"
        [ngClass]="{'table-success' : item.status === 'active'}">
        <ng-container *ngFor="let h of headers; let i = index">
          <td *ngIf="h.name !== 'urlImage'; else imageTemplate">{{ (h.name === 'price' || h.name === 'salePrice') ? (getProperty(item, h.name) | truncateText: 35 | currency) : (getProperty(item, h.name) | truncateText: 35) }}</td>
          <ng-template #imageTemplate>
            <td>
              <img [src]="'/assets/products/'+ getProperty(item, h.name)" alt="Imagen" class="me-2"
                style="width: 80px; height: 80px" />
            </td>
          </ng-template>
        </ng-container>
        <td class="text-end">
          <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
            <button type="button" class="btn no-arrow" id="dropdownBasic1" ngbDropdownToggle>
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-menu text-center">
              <button class="btn btn-warning text-primary w-100 mb-1" (click)="onSeeMore(item); myDrop.close()">
                <i class="bi bi-pencil-square"></i>
                <span class="mx-2">Update</span>
              </button>
              <button class="btn btn-danger w-100 text-primary" (click)="onDelete(item); myDrop.close()">
                <i class="bi bi-backspace"></i>
                <span class="mx-2">Delete</span>
              </button>
            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end mt-2">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="data.length"></ngb-pagination>
  </div>
</div>