.table td,
.table th {
    vertical-align: middle;
    background-color: #4A5D79;
    color: #F1FAEE;
}
.drop-menu{
    background-color: #4A5D79;
    padding: 0;
    border: 1px solid #F1FAEE;
}
.table td {
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.table th{
    text-align: center;
    padding: 12px;
    margin: 0px;
}


.no-arrow.dropdown-toggle::after {
    content: none;
}

ngb-pagination ::ng-deep a {
    color: #4A5D79
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    color: #F1FAEE;
    background-color: #4A5D79;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #4A5D79;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #4A5D79;
}