<div class="table-responsive">
  <table class="table table-striped  h-100">
    <thead>
      <tr>
        <th scope="col" *ngFor="let h of headers">{{h.header | titlecase}}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | slice: (page-1) * pageSize : page * pageSize" class="fixed-height-row">
        <ng-container *ngFor="let h of headers; let i = index">
          <td *ngIf="h.name !== 'urlImage'; else imageTemplate">{{ getProperty(item, h.name) | truncateText: 40 }}</td>
          <ng-template #imageTemplate>
            <td>
              <img [src]="'/assets/products/'+ getProperty(item, h.name)" alt="Imagen" 
              class="me-2"
              style="width: 70px; height: 70px" />
            </td>
          </ng-template>
        </ng-container>
        <td class="px-3">
          <button class="btn btn-icon" (click)="onSeeMore(item)">
            <i class="bi bi-plus-square-fill fs-5"></i>
          </button>
          <button class="btn btn-icon" (click)="onDelete(item)">
            <i class="bi bi-trash-fill fs-5"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="data.length"
    ></ngb-pagination>
  </div>
</div>
