.custom-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: rgb(251, 251, 251);
}

tr{
    transition: 0.2 ease;
    padding: 0;
}
tr:hover td {
    background-color: #f1efef;
    cursor: pointer;  /* Cambia el cursor al pasar el mouse para indicar que es interactivo */
}
.table td,
.table th {
    vertical-align: middle;

}

.table td {
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px 0px 20px 0px;
    transition: all 0.3s ease;
}

.table th{
    text-align: center;
    padding: 12px;
    margin: 0px;
}


.no-arrow.dropdown-toggle::after {
    content: none;
}

ngb-pagination ::ng-deep a {
    color: black
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    color: white;
    background-color: black;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
}