<!-- employee-navbar.component.html -->

<div class="row mb-3">
	<div class="col">
		<h4>Ordenes</h4>
	</div>
</div>
<div class="row">
	<div class="col">

		<nav ngbNav #nav="ngbNav" [(activeId)]="active" [keyboard]="'changeWithArrows'" class="nav-tabs">
			<ng-container [ngbNavItem]="1">
				<a ngbNavLink>En proceso <span *ngIf="inProcessCount > 0" class="notification-container"><span class="notification-circle">{{ inProcessCount }}</span></span></a>
				<ng-template ngbNavContent>
					<app-order-list [orders]="inProcessOrders" (onChangeStatus)="getOrders()"></app-order-list>
				</ng-template>
			</ng-container>
			<ng-container [ngbNavItem]="2">
				<a ngbNavLink>Pendientes</a>
				<ng-template ngbNavContent>
					<app-order-list [orders]="pendingOrders" (onChangeStatus)="getOrders()"></app-order-list>
				</ng-template>
			</ng-container>
			<ng-container [ngbNavItem]="3">
				<a ngbNavLink>Entregadas</a>
				<ng-template ngbNavContent>
					<app-order-list [orders]="pickedUpOrders"></app-order-list>
				</ng-template>
			</ng-container>
		</nav>

		<div [ngbNavOutlet]="nav" class="mt-2"></div>

	</div>
</div>