// Override Bootstrap variables
$primary: #f6f9f5;
$secondary: #A8DADC;
$info: #fcc800;
$dark: #0e110f;
$warning: #1D3557;
$danger: #E63946;



// Import the rest of Bootstrap styles
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr.css';
