// Override Bootstrap variables
$primary: #fafcfc;
$secondary: #0cbad1;
$info: #fcc800;
$dark: #0e110f;



// Import the rest of Bootstrap styles
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr.css';
@import 'aos/dist/aos.css';



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
