<div class="modal-header">
    <h4 class="modal-title mx-auto">Ajuste de Precios</h4>
    <i class="bi bi-x-square-fill" (click)="onCancel()"></i>
  </div>
  <div class="modal-body">
   <form class="p-3" [formGroup]="form">
    <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select name="categoryId" 
            id="categoryId" 
            class="form-select" 
            formControlName="categoryId"
            appFormValidation [form]="form"
            [fieldName]="'categoryId'">
            <option *ngFor="let c of categorias" [value]="c._id">{{c.name}}</option>
        </select>
        <div class="invalid-feedback" appFormError [control]="form.get('categoryId')"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Porcentaje</label>
        <div class="input-group">
            <input type="number" class="form-control" formControlName="percentage" appFormValidation [form]="form"
            [fieldName]="'percentage'">
            <span class="input-group-text">%</span>
            <div class="invalid-feedback" appFormError [control]="form.get('percentage')"></div>
        </div>
        <small class="form-text text-muted">
            Para disminuciones de precios, utiliza valores negativos.
          </small>

    </div>
   </form>
  </div>
  <div class="modal-foote py-4 d-flex justify-content-center">
    <button type="button" class="btn btn-dark w-75" (click)="onSubmit()">Aplicar Ajuste</button>
  </div>
  