.bi{
    font-size: 2.5rem;
    color: #09d9c1;
}
.title{
    font-size: 1rem;
    color: #09d9c1;
    font-weight:600;

}
.card {
    background-color: #4A5D79;
    color: #F7FAF9;
}

.data{
    font-size: 1.2rem;
    font-weight: bold;
}