<div class="card bg-primary">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <span class="med-text order-number">{{ order.orderNumber }}</span>
            <span [ngClass]="{'bg-info': order.status === 'pending', 'bg-warning': order.status === 'inProcess', 'bg-success': order.status === 'pickedUp'}" class="badge text-white  p-2">
                {{ order.status | splitWords | titlecase }}
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-2">
            <div class="col-6 d-flex justify-content-start align-items-center">
                <p class="card-title lg-text">{{ order.customer.name | uppercase }} {{ order.customer.lastName | uppercase  }}</p>
            </div>
            <div class="col-4">
                <p class="med-text text-center">{{order.pickUpDateTime}}</p>
            </div>
            <div class="col-2 d-flex flex-column justify-content-start align-items-center ">
                <button (click)="isCollapsed = !isCollapsed" type="button" class="btn btn-icon border-0">
                    <i [class.bi-caret-down-fill]="isCollapsed" [class.bi-caret-up-fill]="!isCollapsed"></i>
                </button>
            </div>

        </div>

        <div [ngbCollapse]="isCollapsed">
            <div class="row mt-3 mb-3" *ngIf="order.products && order.products.length > 0">
                <div class="col">
                    <h6 class="card-subtitle mb-2 small-text">Productos:</h6>
                    <ul class="list-group med-text">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let product of order.products">
                            {{ product.product.name }}
                            <span class="badge bg-dark text-white rounded-pill">{{ product.quantity }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-3" *ngIf="order.combos && order.combos.length > 0">
                <div class="col">
                    <h6 class="card-subtitle mb-2 small-text">Combos:</h6>
                    <ul class="list-group med-text">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let combo of order.combos">
                            {{ combo.combo.name }}
                            <span class="badge bg-dark text-white rounded-pill">{{ combo.quantity }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-3" *ngIf="order.notes">
                <div class="col">
                    <h6 class="card-subtitle mb-2 small-text">Notas</h6>
                    <span class="med-text">{{order.notes}}</span>
                </div>
            </div>
            <div class="row mt-4 mb-3" *ngIf="order.status === 'inProcess' || order.status === 'pending'">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-success" (click)="changeStatus(order)">{{order.status === 'pending' ? 'Orden en Proceso' : 'Confirmar Entrega'}}</button>
                </div>
            </div>
            <div class="card-footer text-muted d-flex justify-content-end">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center med-text">
                        <span>Total: </span>
                        <span class="mx-2" *ngIf="!order.discountCode">{{order.totalAmount |
                            currency}}</span>
                        <div *ngIf="order.discountedAmount">
                            <del class="mx-2 text-danger small-text">{{ order.totalAmount | currency }}</del>
                            <span class="ml-2">{{ order.discountedAmount | currency }}</span>
                        </div>
    
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>