<div class="row bg-row m-0 vh-100  d-flex justify-content-center align-items-center">
    <div class="col-12 col-12 col-md-6 col-lg-4 p-md-3 p-0">
        <div class="card p-5">
            <div class="p-3 text-center">
                <img src="/assets/logos/logo.png" class="card-img-top mb-3 custom-logo" alt="logo">
                <h3 class="fs-5 text-primary">{{RESET_PASS_PAGE.title}}</h3>
            </div>
            <form *ngIf="!showSuccessMessage" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 text-primary">
                    <label class="form-label">Email</label>
                    <input formControlName="email" name="email" type="text" class="form-control" id="txtUsuario"
                    appFormValidation [form]="resetForm" [fieldName]="'email'"  />
                    <div class="invalid-feedback" appFormError [control]="resetForm.get('email')">
                    </div>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-warning text-light w-100">{{RESET_PASS_PAGE.txt_btn}}</button>
                </div>
            </form>
            <div *ngIf="showSuccessMessage" class="alert alert-warning mt-3">
                {{RESET_PASS_PAGE.msg_success}}
              </div>
            <div>
                <a class="custom-text btn border-0 w-100 text-primary" [routerLink]="['/']">{{RESET_PASS_PAGE.txt_back}}</a>
            </div>
        </div>
    </div>
</div>