<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Producto</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <select name="" id="_id" class="form-select" formControlName="productId" appFormValidation
                                [form]="form" [fieldName]="'productId'">
                                <option value="" disabled selected>Seleccionar un producto</option>
                                <option *ngFor="let p of products" [value]="p._id">{{p.name}}</option>
                            </select>
                            <div class="invalid-feedback" appFormError [control]="form.get('productId')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Oferta</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Precio Actual</span>
                                <span class="input-group-text">$</span>
                                <span class="form-control custom-styled-input">{{ valorActual }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Precio Oferta</span>
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" formControlName="value" appFormValidation
                                    [form]="form" [fieldName]="'value'">
                                <div class="invalid-feedback" appFormError [control]="form.get('value')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Fecha</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <app-datepicker [minDate]="today" [startDateForEdit]="startDate" [endDateForEdit]="endDate"
                                (dateSelection)="handleDateSelection($event)" required></app-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Hora</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Hora de Inicio</label>
                            <app-timepicker [date]="startDate" (selectedTime)="onTimeSelection($event, 'start')"
                                required></app-timepicker>
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Hora de Fin</label>
                            <app-timepicker [date]="endDate" (selectedTime)="onTimeSelection($event, 'end')"
                                required></app-timepicker>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div *ngIf="validateDate" class="alert alert-danger mt-2">
                                <span>Ingrese correctamente fecha y hora</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn bg-white border border-primary">Cancelar</button>
            <button class="btn btn-dark mx-2">{{editMode ? 'Editar' : 'Registrar'}}</button>
        </div>
    </div>
</form>