<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Product</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <select name="" id="_id" class="form-select" formControlName="productId" appFormValidation
                                [form]="form" [fieldName]="'productId'">
                                <option value="" disabled selected>Select...</option>
                                <option *ngFor="let p of products" [value]="p._id">{{p.name}}</option>
                            </select>
                            <div class="invalid-feedback" appFormError [control]="form.get('productId')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-title">Offer</div>
                    <span class="input-group-text">ARS</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Current Price</span>
                                <span class="input-group-text">$</span>
                                <span class="form-control custom-styled-input">{{ valorActual }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text">Offer Price</span>
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" formControlName="value" appFormValidation
                                    [form]="form" [fieldName]="'value'">
                                <div class="invalid-feedback" appFormError [control]="form.get('value')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Date</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <app-datepicker [minDate]="today" [startDateForEdit]="startDate" [endDateForEdit]="endDate"
                                (dateSelection)="handleDateSelection($event)" required></app-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Time</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div>
                                <label class="form-label text-primary">Start Time</label>
                                <app-timepicker [date]="startDate" (selectedTime)="onTimeSelection($event, 'start')"
                                    required></app-timepicker>
                            </div>
                            <div class="ms-3">
                                <label for="" class="form-label text-primary">End Time</label>
                                <app-timepicker [date]="endDate" (selectedTime)="onTimeSelection($event, 'end')"
                                    required></app-timepicker>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div *ngIf="validateDate" class="alert alert-danger mt-2">
                                <span>Please enter the date and time correctly.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary">{{buttons.cancel}}</button>
            <button class="btn btn-warning mx-2">{{editMode ? buttons.edit : buttons.create}}</button>
        </div>
    </div>
</form>