<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">
                        Employee Information
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col-md-6 mb-md-0 mb-2">
                            <input type="text" class="form-control" placeholder="Name" formControlName="name" appFormValidation
                            [form]="form" [fieldName]="'name'">
                            <div class="invalid-feedback" appFormError [control]="form.get('name')"></div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" appFormValidation
                            [form]="form" [fieldName]="'lastName'">
                            <div class="invalid-feedback" appFormError [control]="form.get('lastName')"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-text text-primary">Please enter the full name and surname of the employee as they appear on their ID</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Email</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Enter an email" formControlName="email" appFormValidation
                            [form]="form" [fieldName]="'email'">
                            <div class="invalid-feedback" appFormError [control]="form.get('email')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3" *ngIf="!isEditMode">
        <div class="col-12">
            <div class="card p-2">
                <div class="card-header">
                    <div class="card-title">Password</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Enter a password" formControlName="password" appFormValidation
                            [form]="form" [fieldName]="'password'">
                            <div class="invalid-feedback" appFormError [control]="form.get('password')"></div>
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword" appFormValidation
                            [form]="form" [fieldName]="'confirmPassword'">
                            <div class="invalid-feedback" appFormError [control]="form.get('confirmPassword')"></div>
                            <div class="invalid-feedback-notmatched" *ngIf="form.errors && form.errors['notmatched'] && form.get('confirmPassword')?.touched ">The passwords do not match</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary">{{buttons.cancel}}</button>
            <button type="submit" class="btn btn-warning mx-2">{{buttons.edit}}</button>
          </div>
    </div>
</form>
