<div class="card p-3">
    <div class="card-body">
        <div class="row py-1 mb-4">
            <div class="col-12 d-flex justify-content-center">
                <span class="title">Distribución de Calificaciones de Pedidos</span>
            </div>
        </div>
        <div class="row mb-4 p-2">
            <div class="col-3 d-flex align-items-center">
                <span>Rango de Fechas</span>
            </div>
            <div class="col-6 px-0">
                <app-datepicker [startDateForEdit]="startDate" [endDateForEdit]="endDate" (dateSelection)="onDateSelection($event)"></app-datepicker>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-7">
                <div style="display: block;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" type="bar">
                    </canvas>
                </div>
            </div>
            <div class="col-4 offset-1">
                <div style="display: block;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="pieChartOptions"
                        [legend]="barChartLegend" type="pie" [plugins]="pieChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>