<div class="card p-3 h-100">
    <div class="card-body">
        <div class="row py-1 mb-4">
            <div class="col-12 d-flex justify-content-center">
                <span class="title">Best-selling products</span>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12">
                <div style="display: block;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" type="bar">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>