.btn-group .btn input[type="radio"] {
  display: none;
}

.btn-group .btn input[type="radio"]+label.btn {
  cursor: pointer;
}

.btn-group .btn input[type="radio"]:checked+label.btn {
  background-color: #007bff;
  color: #fff;
  border-color: #3aa718;
}

.btn{
  font-size: 0.9rem;
}

.custom-txtarea{
  height: 80px;
}

.btn-generar,
.form-check-label {
  font-size: 0.9rem;
}


