<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <p class="card-title text-bold">Código de Descuento</p>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Código" formControlName="code"> 
                <button class="btn btn-light border border-primary rounded-end " (click)="generateCode()">Generar</button>           
                <div class="input-group-append mx-2" ngbTooltip="Los clientes deberán ingresar este código al finalizar la compra" title="Información">
                  <span class="input-group-text">
                    <i class="bi bi-info-circle"></i>
                  </span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <textarea class="form-control custom-txtarea" placeholder="Descripción"
                formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <p class="card-title text-bold">Valor</p>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-lg-5 col-12">
              <div class="btn-group w-100 mb-2 mb-md-0" data-toggle="buttons">
                <button type="button" class="btn"
                  [ngClass]="{'btn-primary': btnFixedSelected, 'btn-outline-primary': !btnFixedSelected}"
                  (click)="btnFixedSelected = !btnFixedSelected; btnPercentageSelected = false; onSelectFixedAmount()">
                  Monto Fijo
                </button>

                <button type="button" class="btn"
                  [ngClass]="{'btn-primary': btnPercentageSelected, 'btn-outline-primary': !btnPercentageSelected}"
                  (click)="btnPercentageSelected = !btnPercentageSelected; btnFixedSelected = false; onSelectPercentage()">
                  Porcentaje
                </button>
              </div>

            </div>
            <div class="col-lg-7 col-12">
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">{{btnFixedSelected ? '$' : '%' }}</span>
                <span class="input-group-text" *ngIf="btnFixedSelected">ARS</span>
                <input type="number" class="form-control" placeholder="Valor" formControlName="value">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <p class="card-title text-bold">Fecha de Vencimiento</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                  [minDate]="minDate" formControlName="expirationDate" />
                <button class="btn btn-outline-dark bi bi-calendar3" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <p class="card-title text-bold">Clientes</p>
        </div>
        <div class="card-body">
          <app-discount-filters-form formGroupName="filters" (onSegmentSelected)="onSegmentSelected($event)" (onAllClientsSelected)="onAllClientsSelected($event)"></app-discount-filters-form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn bg-white border border-primary">Cancelar</button>
      <button type="submit" class="btn btn-dark mx-2">Guardar Descuento</button>
    </div>
  </div>
</form>