<div class="img d-none d-md-block"></div>
<app-navbar class="d-none d-md-block"></app-navbar>
<div class="row d-md-none">
    <div class="col-12">
        <app-title-page [title]="'Términos y Condiciones'" [href]="'/profile'"></app-title-page>
    </div>
</div>
<div class="row p-3 p-md-5">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <span class="title">Términos y Condiciones de Uso - MiCaféApp</span>

                <p class="text-end">Fecha de vigencia: 14/11/2023</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Bienvenido a MiCaféApp, la aplicación diseñada para facilitar y agilizar la compra y retiro de
                    productos de cafetería en la modalidad take away. Al utilizar nuestra aplicación, aceptas cumplir
                    con los siguientes términos y condiciones:</p>

                <ol>
                    <li>Registro y Cuentas de Usuario:
                        <p>Para utilizar MiCaféApp, es necesario registrarse. Al hacerlo, proporcionarás tu nombre,
                            apellido y dirección de correo electrónico. La contraseña se almacena de forma segura
                            mediante hash. Deberás validar tu cuenta a través de tu dirección de correo electrónico.</p>
                    </li>
                    <li>Privacidad y Recopilación de Datos:
                        <p>Recopilamos tu nombre, apellido y dirección de correo electrónico con el único propósito de
                            identificarte como usuario de MiCaféApp. La privacidad de tus datos es fundamental para
                            nosotros, y puedes conocer más sobre cómo manejamos la información en nuestra Política de
                            Privacidad.</p>
                    </li>
                    <li>Compra y Retiro de Productos:
                        <p>Al utilizar MiCaféApp, te comprometes a utilizar la aplicación para comprar productos de
                            cafetería en la modalidad take away. Los productos adquiridos serán retirados según los
                            términos y condiciones de la cafetería asociada.</p>
                    </li>
                    <li>Conducta del Usuario:
                        <p>Los usuarios de MiCaféApp deben adherirse a las reglas establecidas. Se espera que utilices
                            la aplicación para comprar productos y que no compartas información con terceros, excepto
                            con el equipo de soporte de la aplicación en caso de necesidad.</p>
                    </li>
                    <li>Derechos de Propiedad Intelectual:
                        <p>MiCaféApp y su contenido están protegidos por derechos de propiedad intelectual. Todos los
                            derechos pertenecen a MiCafeApp. No se permite la reproducción o distribución no autorizada
                            del contenido de la aplicación.</p>
                    </li>
                    <li>Terminación de Cuentas de Usuario:
                        <p>En caso de incumplimiento de estos términos y condiciones, nos reservamos el derecho de
                            terminar tu cuenta de usuario. En caso de terminación, eliminaremos tu información por
                            completo de nuestra base de datos.</p>
                    </li>
                    <li>Legislación Aplicable:
                        <p>MiCaféApp se rige por las leyes de la República Argentina. Cualquier disputa estará sujeta a
                            la jurisdicción de los tribunales argentinos.</p>
                    </li>
                    <li>Promociones y Cupones:
                        <p>Las promociones y cupones ofrecidos a través de MiCaféApp están sujetos a términos específicos. La
                            aplicación se reserva el derecho de modificar, cancelar o restringir las promociones y cupones en
                            cualquier momento sin previo aviso.</p>
        
                        <p>La validez y aplicabilidad de los cupones están sujetas a las condiciones establecidas por la
                            cafetería asociada. Asegúrate de revisar los detalles de cada cupón antes de su uso.</p>
        
                        <p>La aplicación no se hace responsable de la pérdida, robo o mal uso de los cupones proporcionados a
                            los usuarios.</p>
                    </li>
                    <li>
                        Pagos:
                        <p>Al realizar pagos a través de MiCaféApp, aceptas cumplir con los términos y condiciones de pago
                            establecidos por la aplicación y los proveedores de servicios de pago.</p>
        
                        <p>La aplicación no almacena información financiera sensible. Todos los pagos se procesan de manera
                            segura a través de nuestros socios de procesamiento de pagos.</p>
        
                        <p>La cafetería asociada es responsable de la entrega y calidad de los productos comprados. Cualquier
                            problema relacionado con los productos debe ser dirigido a la cafetería correspondiente.</p>
        
                    </li>
                    <li>
                        Otros Términos Relevantes:
                        <p>Las transacciones realizadas a través de la aplicación están sujetas a los términos y condiciones de
                            la cafetería asociada, así como a cualquier política de devolución o cancelación que puedan tener.
                        </p>
        
                        <p>La aplicación se reserva el derecho de realizar cambios en las tarifas, métodos de pago y otros
                            aspectos relacionados con las transacciones, notificando a los usuarios con anticipación cuando sea
                            posible.</p>
                    </li>
                </ol>  

                <p>Para preguntas o comentarios, ponte en contacto con nuestro equipo de soporte a través de
                    micafeapp@outlook.es</p>

                <p>¡Gracias por elegir MiCaféApp!</p>
            </div>
        </div>
    </div>
</div>