<div class="card p-3 h-100">
    <div class="card-body">
        <div class="row py-1 mb-4">
            <div class="col-12 d-flex justify-content-center">
                <span class="title-graphic">Top Buying Customers</span>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Total Spent (ARS)</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of customersInfo">
                            <td>{{c._id.name}}</td>
                            <td>{{c._id.lastName}}</td>
                            <td>{{c._id.email}}</td>
                            <td class="d-flex justify-content-end">{{c.totalAmount | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>