<div class="row mt-md-2 mt-1">
    <div class="col-lg-4 col-6">
        <span class="title">Customers</span>
    </div>
</div>
<div class="row mt-5 justify-content-start">
    <div class="col-md-4">
        <app-search [searchTerm]="searchTerm" (searchTextChanged)="onSearchTextChange($event)"></app-search>
    </div>
    <div class="col-md-4 d-flex mt-2 mt-md-0">
        <app-order-by [selectedOption]="sortSelected" [sorting]="sorting" (onSortBySelected)="sortList($event)"></app-order-by>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <app-table [data]="filteredData" [headers]="tableHeaders" [pageSize]="8" (delete)="deleteUser($event)"></app-table>
    </div>
</div>


