<div class="img d-none d-md-block"></div>
<app-navbar class="d-none d-md-block"></app-navbar>
<div class="row m-0 px-md-5 mt-md-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <app-title-page [title]="'Preguntas Frecuentes'" [href]="'/profile'"></app-title-page>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                ¿Cómo puedo crear una cuenta en MiCaféApp?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Para crear una cuenta, dirígete a la <a routerLink="/auth/signup"
                                    class="text-dark">página de registro</a> de MiCaféApp y haz clic en el botón
                                'Registrarse'. Completa el formulario con tu información requerida, como nombre, correo
                                electrónico y contraseña, y sigue las instrucciones para verificar tu cuenta.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Cómo actualizo la información de mi perfil?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Para actualizar la información de tu perfil, inicia sesión en tu cuenta y ve a la
                                sección de perfil. Luego, ingresa a la sección de Información de Perfil. Aquí podrás
                                editar tu información. Guarda los cambios una vez que hayas actualizado la información.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ¿Cómo utilizo mis puntos?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Utiliza tus puntos para comprar productos al confirmar tu pedido. Simplemente selecciona
                                la opción de pagar con tus puntos acumulados durante el proceso de confirmación de la
                                compra
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                ¿Cómo modifico el horario de retiro de mi pedido?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dirígete a la sección 'Mi Perfil', luego accede al 'Historial de Pedidos'. Selecciona el
                                pedido para el cual deseas cambiar el horario de retiro. Haz clic en el botón 'Cambiar
                                Horario' y elige el nuevo horario. Asegúrate de guardar los cambios una vez seleccionado
                                el nuevo horario
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                ¿Hasta cuándo tengo la opción de cambiar el horario de retiro de mi pedido?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Puedes modificar el horario de retiro de tu pedido hasta 15 minutos antes de la hora
                                programada para el retiro.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                ¿Cómo puedo aplicar un cupón de descuento?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Puedes aplicar un cupón de descuento al confirmar tu pedido. Dirígete a la sección
                                'Descuento' e ingresa el código del cupón. Después, presiona 'Validar' para aplicar el
                                descuento correspondiente a tu compra.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                ¿Cómo puedo contactar al servicio de atención al cliente?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Puedes contactar al servicio de atención al cliente fácilmente. En la sección 'Mi
                                Perfil', encontrarás un botón que te conectará directamente con el servicio de atención
                                al cliente a través de WhatsApp.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                ¿Cómo puedo añadir productos a mi pedido?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Para agregar productos a tu pedido, accede a la sección 'Mi Tienda'. Allí encontrarás un
                                listado de productos organizados por categorías. Selecciona un producto para ver su detalle y
                                descripción. Luego elige la cantidad deseada y haz clic en el botón 'Agregar' para
                                incluirlo en tu pedido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>