<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Nombre</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="name" appFormValidation
                                [form]="form" [fieldName]="'name'" placeholder="Nombre del Proveedor">
                            <div class="invalid-feedback" appFormError [control]="form.get('name')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Información</div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-6">
                            <input type="email" class="form-control" formControlName="email" appFormValidation
                                [form]="form" [fieldName]="'email'" placeholder="Email">
                            <div class="invalid-feedback" appFormError [control]="form.get('email')"></div>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" formControlName="celphone" appFormValidation
                                [form]="form" [fieldName]="'celphone'" placeholder="Teléfono">
                            <div class="invalid-feedback" appFormError [control]="form.get('celphone')"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="address" appFormValidation
                                [form]="form" [fieldName]="'address'" placeholder="Dirección">
                            <div class="invalid-feedback" appFormError [control]="form.get('address')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn bg-white border border-primary" (click)="reset()">Cancelar</button>
            <button type="submit" class="btn btn-dark mx-2">{{isEditMode ? 'Editar': 'Agregar'}}</button>
        </div>
    </div>
</form>
