<div class="border-bottom">
    <div class="row m-0">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <img [src]="['/assets/products/' + cartItem.product.urlImage]" alt="" class="img img-fluid">
        </div>
        <div class="col-5 p-3 d-flex flex-column justify-content-start">
            <div class="row">
                <div class="col-12">
                    <span>{{cartItem.product.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12" *ngIf="cartItem.product.salePrice != null; else noSale">
                    <span>{{cartItem.quantity}} x {{cartItem.product.salePrice | currency}}</span>
                    <del class="mx-2 text-danger">{{cartItem.product.price | currency}}</del>
                </div>
                <ng-template #noSale class="col-12">
                    <span>{{cartItem.quantity}} x {{cartItem.product.price | currency}}</span>
                </ng-template>
            </div>
        </div>
        <div class="col-2 p-4 d-flex justify-content-center">
            <button class="btn btn-icon" (click)="deleteItem(cartItem)">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</div>