<div class="row">
    <div class="col-lg-4">
        <span class="title mb-md-0 mb-4">Offers</span>
    </div>
    <div class="col-lg-8 col-md-12 d-flex justify-content-start justify-content-md-end">
        <button class="btn btn-warning" (click)="addOffer()">+ Add Offer</button>
        <button class="btn btn-secondary mx-2" (click)="addOfferByCategory()">+ By Category</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-3 mt-5">
        <app-filter [filterOptions]="options" [title]="'Status'"
            (filterSelected)="onFilterSelected($event)"></app-filter>
    </div>
    <div class="col-md-4   mt-md-3">
        <label class="form-label text-primary">To search by date range</label>
        <app-datepicker (dateSelection)="onDateFilterSelected($event)"></app-datepicker>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <app-search (searchTextChanged)="onSearchTextChange($event)"></app-search>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <app-table [data]="filteredOffers" [headers]="tableHeader" [pageSize]="5" (delete)="deleteOffer($event)"
            (seeMore)="editOffer($event)">
        </app-table>
    </div>
</div>