.form-text {
    font-size: 0.8rem;
    color: #929292;
}

.table {
    background-color: #4A5D79;
    color: #F7FAF9;
}

.card {
    background-color: #4A5D79;
    color: #F7FAF9;
}

.card-header {
    background-color: #4A5D79;
    color: #F7FAF9;
    border-bottom: 0;
}

.title {
    font-size: 1.4rem;
    color: #F1FAEE;
}

.text {
    color: #F1FAEE;
}

.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
}

::placeholder {
    font-size: 0.9rem;
    color: #929292;
}

.btn {
    font-size: 0.9rem;
}

label {
    font-size: 0.95rem;
    color: #F1FAEE;
}

.form-check-label {
    font-size: 0.95rem;
    color: #F1FAEE;
}

input[type="number"] {
    text-align: right;
}