.bg-container {
    background-image: url('../../../../../assets/fondos/cafeceleste.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}

.title {
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}

.txt-banner {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.btn {
    width: 35%;
}

@media only screen and (max-width: 768px) {
    .bg-container {
        background-image: url('../../../../../assets/fondos/coffeFondo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 650px;
    }
}