<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card p-2">
                        <div class="card-header">
                            <div class="card-title">Information</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="form-control" formControlName="name" id="name" appFormValidation
                                        [form]="form" [fieldName]="'name'" placeholder="Name">
                                    <div class="invalid-feedback" appFormError [control]="form.get('name')"></div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <textarea class="form-control custom-txtarea" formControlName="description" id="description"
                                        appFormValidation [form]="form" [fieldName]="'description'"
                                        placeholder="Description"></textarea>
                                    <div class="invalid-feedback" appFormError [control]="form.get('description')"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card p-2">
                        <div class="card-header">
                            <div class="card-title">Value</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">$</span>
                                        <span class="input-group-text" id="addon-wrapping">ARS</span>
                                        <input type="number" class="form-control" formControlName="price" id="price"
                                        appFormValidation [form]="form" [fieldName]="'price'" placeholder="Price">
                                    <div class="invalid-feedback" appFormError [control]="form.get('price')"></div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card p-2">
                        <div class="card-header">
                            <div class="card-title">
                                Image
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div (click)="openImageInput()" style="cursor: pointer;"
                                            class="current-image d-flex justify-content-center align-items-center">
                                            <div>
                                                <img class="img-fluid" [src]="getImageSource()" alt="Imagen actual">
                                            </div>
                                            <div>
                                                <input type="file" #fileInput style="display: none;" accept="image/*"
                                                    (change)="handleImageChange($event)" />
                                            </div>
                                            <div class="select-image-overlay">
                                                Select Image
                                            </div>
                                        </div>
                                        <input type="hidden" formControlName="urlImage" appFormValidation [form]="form"
                                            [fieldName]="'urlImage'">
                                        <div class="invalid-feedback" appFormError [control]="form.get('urlImage')"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card p-2">
                        <div class="card-header">
                            <div class="card-title">Products</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="col-12">
                                        <ng-container formArrayName="products">
                                            <div *ngFor="let productForm of products.controls; let index= index">
                                                <div [formGroupName]="index">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-2">
                                                            <select class="form-select" formControlName="product">
                                                                <option *ngFor="let p of productList" [value]="p._id">{{ p.name
                                                                    }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-8 col-lg-4">
                                                            <input type="number" class="form-control" formControlName="quantity"
                                                                placeholder="Cantidad">
                                                        </div>
                                                        <div class="col-4 col-lg-2 text-end">
                                                            <button class="btn btn-danger btn-remove"
                                                                (click)="removeItemToCombo(index)">X</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary mt-2" (click)="addItemToCombo()">+ Add Product</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                  <div class="card px-2 py-3">
                    <div class="card-header">
                      <div class="card-title">Status</div>
                    </div>
                    <div class="card-body">
                      <select class="form-select" formControlName="isActive" appFormValidation [form]="form"
                        [fieldName]="'isActive'">
                        <option selected value=true> Active</option>
                        <option value=false> Inactive</option>
                      </select>
                      <div class="invalid-feedback" appFormError [control]="form.get('isActive')"></div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    

    

    

    

    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary">{{buttons.cancel}}</button>
            <button type="submit" class="btn btn-warning mx-2">{{editMode ? buttons.edit : buttons.create}}</button>
        </div>
    </div>
</form>