<div class="row">
    <div class="col-lg-4">
        <h2 class="mb-md-0 mb-4">Proveedores</h2>
    </div>
    <div class="col-lg-8 col-md-12 d-flex justify-content-start justify-content-md-end">
        <button class="btn btn-dark mx-2" (click)="create()"><span>+ Agregar Proveedor</span></button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4 mb-md-0 mb-3">
        <app-search (searchTextChanged)="onSearchTextChange($event)"></app-search>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <app-table [data]="filteredData" [headers]="tableHeaders" [pageSize]="5" (seeMore)="edit($event)"
            (delete)="delete($event)"></app-table>
    </div>
</div>