<div class="card p-3 h-100">
    <div class="card-body">
        <div class="row py-1 mb-4">
            <div class="col-12 d-flex justify-content-center">
                <span class="title-graphic">Total sales per day of the week</span>
            </div>
        </div>
        <div class="row py-4 mt-3">
            <div class="col-12">
                <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [type]="barChartType" [legend]="barChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</div>