<!-- <nav>
    <div class="container-fluid">
        <div class="row w-100 bg-danger">
            <div [ngClass]="{'text-center': isLoggedIn, 'd-flex justify-content-between': !isLoggedIn}" class="col-12 bg-info d-flex justify-content-between">
                <a [ngClass]="{'ps-4' : !isLoggedIn}">
                    <img src="../../../../assets/logos/logo.png" alt="" width="180" height="40">
                </a>

                <ul class="navbar-nav pe-4" *ngIf="!isLoggedIn">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/auth/login'">
                            <i class="bi bi-person-circle text-primary"></i>
                            <span class="text-primary ms-2">Ingreso</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> -->

<div class="nav">
    <div class="row w-100 h-100 m-0 d-flex align-items-center justify-content-center">
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
            <div class="col-12 d-flex justify-content-center">
                <a>
                    <img src="../../../../assets/logos/logo.png" alt="" width="180" height="40">
                </a>
            </div>
        </ng-container>
        <ng-template #notLoggedIn>
            <div class="col-7 ps-5">
                <a>
                    <img src="../../../../assets/logos/logo.png" alt="" width="180" height="40">
                </a>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <ul class="navbar-nav pe-4">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/auth/login'">
                            <i class="bi bi-person-circle text-primary"></i>
                            <span class="text-primary ms-2">Ingreso</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
</div>