<header>
    <nav class="nav py-3" [ngClass]="{'fixed-top': !isLoggedIn, 'bg-warning': isLoggedIn}">
        <div class="container">
            <div class="row mb-3 m-0 d-flex align-items-center justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <a>
                            <img src="../../../../assets/logos/logo.png" alt="" width="220" height="50">
                        </a>
                    </div>
            </div>
            <div class="row m-0" *ngIf="!isLoggedIn">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <a class="nav-link" [routerLink]="'/auth/login'">
                        <i class="bi bi-person-circle text-primary"></i>
                        <span class="ms-2">Ingreso</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>