<div class="container">
    <div class="modal-header">
        <h4 class="modal-title mx-auto text-primary">Create an offer for a product category.</h4>
        <i class="bi bi-x-square-fill text-primary" (click)="onCancel()"></i>
    </div>
    <div class="modal-body">
        <form class="p-3" [formGroup]="form">
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select name="categoryId" id="categoryId" class="form-select" formControlName="categoryId"
                    appFormValidation [form]="form" [fieldName]="'categoryId'">
                    <option *ngFor="let c of categories" [value]="c._id">{{c.name}}</option>
                </select>
                <div class="invalid-feedback" appFormError [control]="form.get('categoryId')"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Percentage</label>
                <div class="input-group">
                    <input type="number" class="form-control" formControlName="value" appFormValidation [form]="form"
                        [fieldName]="'value'">
                    <span class="input-group-text">%</span>
                    <div class="invalid-feedback" appFormError [control]="form.get('value')"></div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Date</label>
                <app-datepicker [startDateForEdit]="startDate" [endDateForEdit]="endDate"
                    (dateSelection)="handleDateSelection($event)" required></app-datepicker>
            </div>
            <div class="mb-3 d-flex">
                <div class="w-50">
                    <label class="form-label">Start Time</label>
                    <app-timepicker [date]="startDate" (selectedTime)="onTimeSelection($event, 'start')"
                        required></app-timepicker>
                </div>
                <div class="w-50">
                    <label for="" class="form-label">End Time</label>
                    <app-timepicker [date]="endDate" (selectedTime)="onTimeSelection($event, 'end')"
                        required></app-timepicker>
                </div>
            </div>
            <div *ngIf="validateDate" class="alert alert-danger">
                <span>Please enter the date and time correctly.</span>
            </div>
        </form>
    </div>
    <div class="modal-foote py-4 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary w-75" (click)="onSubmit()">{{buttons.create}}</button>
    </div>
</div>