<div class="modal-header">
    <h4 class="modal-title mx-auto">Oferta por Categoría</h4>
    <i class="bi bi-x-square-fill" (click)="onCancel()"></i>
  </div>
  <div class="modal-body">
   <form class="p-3" [formGroup]="form">
    <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select name="categoryId" 
            id="categoryId" 
            class="form-select" 
            formControlName="categoryId"
            appFormValidation [form]="form"
            [fieldName]="'categoryId'">
            <option *ngFor="let c of categories" [value]="c._id">{{c.name}}</option>
        </select>
        <div class="invalid-feedback" appFormError [control]="form.get('categoryId')"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Porcentaje</label>
        <div class="input-group">
            <input type="number" class="form-control" formControlName="value" appFormValidation [form]="form"
            [fieldName]="'value'">
            <span class="input-group-text">%</span>
            <div class="invalid-feedback" appFormError [control]="form.get('value')"></div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de Oferta</label>
        <app-datepicker [startDateForEdit]="startDate" [endDateForEdit]="endDate" (dateSelection)="handleDateSelection($event)" required></app-datepicker>        
    </div>
    <div class="mb-3 d-flex">
        <div class="w-50">
            <label  class="form-label">Hora de Inicio</label>
            <app-timepicker [date]="startDate" (selectedTime)="onTimeSelection($event, 'start')" required></app-timepicker>
        </div>
        <div class="w-50">
            <label for="" class="form-label">Hora de Fin</label>
            <app-timepicker [date]="endDate" (selectedTime)="onTimeSelection($event, 'end')" required></app-timepicker>
        </div>
    </div>
    <div *ngIf="validateDate" class="alert alert-danger">
        <span>Ingrese correctamente fecha y hora</span>
      </div>
   </form>
  </div>
  <div class="modal-foote py-4 d-flex justify-content-center">
    <button type="button" class="btn btn-dark w-75" (click)="onSubmit()">Registrar Oferta</button>
  </div>
  
