.bg-container {
    background-image: url('../../../../assets/cafe/cafeFondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}
